<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    style
     include ../public/style.css
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="contact">Get Membership</a></li>
        </ul>
    </nav>
        <div class="abt">
            Sports club can be described as a place where the essence
             of sport and regality combine to form an pleasing aria.
              This city has that distinct appeal that makes it different
               from other metros. Since ages it has been a city of rich
                culture and significant history, the story of Sports Club is 
                also one of the many tales of city glorious past. Today,
                 Sports Club is one of the most regal clubs of city and renowned for
                  its state of the art amenities and élan. Sports club has been the 
                  embodiment of charisma and a hub for who’s who of the city since its 
                  inception and even now it boasts of an opulent array of prolific visitors 
                  round the year.
        </div>
    
</body>
</html>