<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership</title>
    style
     include ../public/style.css
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Get Membership</a></li>
        </ul>
    </nav>
    <div class="container">
    <h1>Get sports club membership just $50</h1>
    
    <form action="/" method="post" id="contact">
        <input type="text" name="name" id="name" placeholder="Full Name">
        <input type="number" name="age" id="age" placeholder="Age">
        <input type="text" name="gender" id="gender" placeholder="Gender">
        <textarea name="address" id="address" cols="30" rows="10" placeholder="Address"></textarea>
         <textarea name="more" id="more" cols="30" rows="10" placeholder="More about you"></textarea>
         <button class="btn">Submit</button>
    </form>
</div>
<div class="greet">
    <h>Thanks for visit</h>. 
</div>
</body>
</html>